@import './base.css';

main {
  margin: 0 auto;
  padding: 30px;
  width: 1400px;
  min-height: 300px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  background-color: rgba(153, 189, 153, 0.596);
  border: 1px solid rgb(221, 221, 221);
  min-height: 100vh;
}

h1 {
  margin-top: 4;
  margin-bottom: 4;
}

h2,
h3,
h4 {
  color: rgba(153, 189, 153, 0.596);
  margin-top: 2;
  margin-bottom: 2;
}
